<div class="small_header">
  <div class="container">
    <h1>About me</h1>
  </div>
</div>

<div class="about container">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag "profile.png", style: "height: 360px;" %>
    </div>
    <div class="col-md-6">
      <div class="container">
        <h2 class="text-left">Hiro Shinoe (篠江 裕行)</h2>
        <h4>Greeting !</h4>
        <p>
          Hi, my name is Hiro Shinoe. 
          <br>I'm learning programming to become a web developer.<br>
          I started learning programming in August 2014.<br>
          Recently I've participated in some online lessons for programming study.
        </p>
        <h4>What I'm learing is</h4>
        <P>HTML, CSS, jQuey, JavaScript, Ruby, Ruby On Rails</P>
        <h4>My background</h4>
        <p>
          I was born and raised in Tokyo Japan.<br>
          I major in management at Waseda university, Japan.<br>
          While in Waseda university, I went to Taiwan <br>
          for double degree program in which students can obtain two degrees<br>
          from Waseda university and National Taiwan university.
        </p>
      </div>
    </div>
  </div>
</div>