<div class="content-left">
  <div class="main">
    <div class="container text-right">
      <h2>
        Hello. My name is Hiro Shinoe
      </h2>
      <p>
        I'm learning web developing<br>
        with HTML, CSS, jQuery, <br>
        JavaScript, and Ruby On Rails !
      </p>
    </div>
    <div class="container text-right">
      <%= link_to "View what I've learned", portfolio_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

