<div class="main">
  <div class="container">
    <h2>
      Hello. My name is Hiro Shinoe
    </h2>
    <p>
      I'm learning web developing<br>
      with HTML, CSS, jQuery, JavaScript, and Ruby On Rails !
    </p>
  </div>
  <div class="container">
    <%= link_to "View my Work", portfolio_path, class: 'btn btn-primary' %>
  </div>
</div>

