// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
    right: 0;
    top: 0;
    width: 270px;
    height: 100%;
    z-index: 999;
    position: fixed;
    padding-top: 30px;
    border-left: 1px solid rgba(218,218,218,0.2);
    border-right: 1px solid rgba(218,218,218,0.2);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background: #fff;
}

.navbar {
    width: auto !important;
    display: block !important;
    overflow: visible !important;
    height: auto;
    border-top: 0;
    padding: 10px 0;
    box-shadow: none;
    max-height: none;
    margin: 0 20px 25px;
}

.navbar {
    float: none !important;
    margin: 0;
}

.navbar .container {
    margin-bottom: 40px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.header li a {
    top: 8px;
    right: 10px;
    color: #444;
    font-size: 21px;
    font-weight: normal;
    font-family: FontAwesome;
}

.main {
    color : #fff;
    margin-right: 270px;
    z-index: 1;
    padding: 70px 0;
    position: relative;
    background: url(born_to_learn.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.main .container {
    padding-left: 60px;
    width: 95%;
}

.main p {
    font-size: 24px;
    font-weight: 200;
}

.footer-social {
    margin-bottom: 20px;
        text-align: center;
}

.footer-social li i {
    font-size: 26px;
    text-align: center;
}

.copyright {
    color: #555;
    font-size: 12px;
    text-align: center;
}

