// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
    color : #fff;
    margin-right: 270px;
    z-index: 1;
    padding: 130px 0;
    position: relative;
    background: url("coding.png") no-repeat;
    background-size: cover;
    background-position: center center;
}

.main .container {
    padding-left: 60px;
    width: 95%;
}

.main p {
    font-size: 24px;
    font-weight: 200;
}


.content-left video {
    position: fixed;
    top: 0;
    z-index: -100;
    width: 100%;
    height: auto;
}